<%=stylesheet_link_tag "articles" %>

<%= image_tag "/images/default.jpg", class: 'no_image' if !article.img? %>
<p class="image"><%= image_tag article.img.url(:thumb) if article.img? %></p>
<h3 class="title"><%= link_to article.title, article_path(article) %></h3>
<p class="preview"><%= article.preview %></p>
