<head>
<%=javascript_include_tag "category_handler" %>
<%=stylesheet_link_tag "articles" %>
</head>

<% if logged_in? %>
<div class="toolsbar">
  <%= link_to 'Create article', new_article_path%>
<hr>
</div >
<% end %>
<h1>Articles</h1>

<%= 'No news right now, Chef' if @articles.empty? %>

<%= select_tag "Category", options_for_select(Article.pluck(:category).uniq), :prompt => 'Select category', :onchange=>"categoryHandler(this.value)"  %>

<%= render @articles %>
<%= will_paginate @articles %>