<head>
  <%=javascript_include_tag "category_handler" %>
  <%=stylesheet_link_tag "articles" %>
  <% @title="Articles" %>
</head>

<h1><%= link_to 'Articles', articles_path %></h1>
<p><%= link_to image_tag("/images/logo.png", class: 'logo'), articles_path %></p>

<% if logged_in? %>
  <h4 class="menu"><%= link_to 'Create article', new_article_path%></h4 >
<% end %>

<%= 'No news right now, Chef' if @articles.empty? %>

<div class="selector">
  <%= select_tag "Category", options_for_select(Article.pluck(:category).uniq), :prompt => 'Select category', :onchange=>"categoryHandler(this.value)"  %>
</div >

<%= render @articles %>

<div class="digg_pagination"> <%= will_paginate @articles %></div>
<%= link_to image_tag('/images/mascot.png', class: 'mascot'), mascot_path %>