<head>
    <%=stylesheet_link_tag "articles" %>
    <% @title=@article.title %>
</head>

<h1><%= link_to 'Articles', articles_path %></h1>
<p><%= link_to image_tag("/images/logo.png", class: 'logo'), articles_path %></p>

<% if logged_in? %>
    <h4 class="menu">
        <%= link_to 'All articles', articles_path %>
        |
        <%= link_to 'Create new article', new_article_path %>
        |
        <%= link_to 'Edit current article', edit_article_path(@article) %>
        |
        <%= link_to 'Delete current article', article_path(@article), method: :delete, data: { confirm: 'Действительно удалить?'} %>
    </h4>
<% end %>
<br>
<% if @article.img? %>
   <p class="image"><%= image_tag @article.img.url %></p>
<% else %>
   <p><%= image_tag "/images/default.png", class: 'big_default_image' %></p>
<% end %>
<h1 class="title_in_show_html"><%= @article.title %></h1>
<p class="category"><%= link_to '#' + @article.category, '/' + 'categories/' + @article.category %></p>
<p class="time"><%= @article.created_at.strftime("%F %H:%M") %></p> 
<p class="text"><%= @article.body %></p>
