<head>
  <%=javascript_include_tag "category_handler" %>
  <%=stylesheet_link_tag "articles" %>
  <% @title=params[:id] %>
</head>

<h1>Articles</h1>
<p><%= image_tag "/images/logo.png", class: 'logo' %></p>

<% if logged_in? %>
  <h4 class="menu"><%= link_to 'Create article', new_article_path%></h4 >
<% end %>

<%= 'No news right now, Chef' if @articles.empty? %>

<div class="selector">
    <%= select_tag "Category", options_for_select(Article.pluck(:category).uniq),:include_blank => 'All articles', :prompt => 'Select category', :onchange=>"categoryHandler(this.value)"    %>
</div >

<%= render @articles %>

<div class="digg_pagination"><%= will_paginate @articles %></div>